.chatBox{
  padding-top: 10px;
  margin-top: 50px;
  height: 70vh;
  box-shadow: inset 0px 0px 5px 4px rgba(166,166,166,1);
  overflow-y: scroll;
  background-color: white;
  border-radius: .25rem;
}

h6{
  margin-left: 10px;
  text-align: left;
}

.textForm{
  margin-top: 30px;
}

#userList{
  margin-top: 50px;
}

#cont{
  background-color: rgba(222, 222, 222, 0.899);
  height: 100vh;
}

.list-group-item{
  padding: 0;
}