*{
  margin:0;
  padding: 0;

}

body{
  height: 100vh;

}

.App {
  text-align: center;
  background-color: rgba(222, 222, 222, 0.899);

}

.App-logo {
  height: 40vmin;
  background-color: none;
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#inputName{
  min-height: 30vh;
  background-color: rgba(222, 222, 222, 0.899);
}

#formName{
  margin-top: 20px;
}

#toMovies{
  margin-top: 20px;

}
